.custom-paginator .p-paginator {
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.custom-paginator .p-paginator-page {
    color: #007bff;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
}

.custom-paginator .p-paginator-page:hover {
    background-color: #007bff;
    color: white;
}

.custom-paginator .p-paginator-prev, 
.custom-paginator .p-paginator-next {
    color: #007bff; 
}

.custom-paginator .p-paginator-prev:hover,
.custom-paginator .p-paginator-next:hover {
    background-color: #007bff;
    color: white;
}
